*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color: white;}
a:visited{color: white;}
a:hover{color: white;}
a:active{color: white;}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}
nav ul{
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    display: block;
    width: 220px;
    height: 80px;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
}
.txtset01{
    width: 115px;
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000000;
}
.txtset02{
    width: 134px;
    margin: 0 auto;
    font-size: 28px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000000;
}
.txtset03{
    width: 1004px;
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    text-align: left;
    color: #000000;
}
.txtset04{
    width: 1004px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #000000;
}
.txt01{
    margin-top: 89px;
}
.txt02{
    margin-top: 0px;
}
.parent-container{
    position: relative;
}
hr {
    width: 50%;
    margin: 0 auto;
    margin-top: 89.5px;
    border: none;
    border-top: 3px solid black;
}
.txt03{
    margin-top: 95px;
}
.txt04{
    margin-top: 80px;
    line-height: 45px;
    margin-bottom: 200px;
    text-align: left;
}
footer{
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}